<h1>Informacion del Sistema</h1>

<ul class="list-group">
    <li class="list-group-item"><b>Programa: </b><%= info.programa %></li>
    <li class="list-group-item"><b>Plataforma: </b><%= info.plataforma %></li>
    <li class="list-group-item"><b>ID process: </b><%= info.processID %></li>
    <li class="list-group-item"><b>Directorio: </b><%= info.directorio %></li>
    <li class="list-group-item"><b>Version: </b><%= info.version %></li>
    <li class="list-group-item"><b>Memoria: </b><%= info.memoria %></li>
    <li class="list-group-item"><b>Argumentos: </b><%= info.argv %></li>
    <li class="list-group-item"><b>Cantidad de Procesadores: </b><%= info.cpus %></li>
  </ul>

